.home-main-container {
 margin-top: 20px;

 button {
  border-radius: 7px;
  border: none;
  background-color: red;
  height: 40px;
  width: 80px;
  color: white;
 }

 p {
  margin: 0 auto;
  margin-top: 20px;
  font-size: 12px;
  width: 80%;
 }
}